

@"
node_modules/
dist/
build/
.env
.env.local
.DS_Store
*.log
npm-debug.log*
yarn-error.log*
.vite/
"@ | Out-File -Encoding UTF8 ".gitignore"


git rm -r --cached node_modules


git add .gitignore
git commit -m "Add .gitignore and remove node_modules from tracking"


git push origin main